
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

/*This is an universal selector, which means I want to apply this to everything*/



* {
  box-sizing: border-box;
}

/* with display - flex everything will go in a row; so we want to go in a column- will add the flex sdirection; then we need to align them*/
/*body {
  font-family: "Poppins", "sans-serif";
  overflow-x: hidden;
  background-image: linear-gradient(90deg, #fffc5f,#e258d6);
  color: rgb(49, 48, 48);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}*/

body {
  font-family: 'Poppins', sans-serif;
}

section {
  height: 500px;
  background-color: white;
  border: solid black 1px;
}

.hero{
background-image: linear-gradient(190deg, #fffc5f,#e258d6);
height: 100vh;
color: black;
font-size: 30px;
}

footer {
  height: 500px;
  background-color: black;
 }


 nav {
   display: flex;
   justify-content: space-between;

 }

 ul{
   display: flex;
   list-style-type: none;
   width: 500px;
   justify-content: space-around;
   font-size: 20px;
 }

 li {
  text-decoration: none;
 }

 h1 {
   font-size: 35px;
   margin: 0;
 }


 p {
   margin: 0;
   font-size: 30px;
   font-weight: 300;
 }
  
 .hero-text{
   margin-left: 80px;
   margin-bottom: 200px;
 }

 .button {
   width: 200px;
   height: 55px;
   border-radius: 30px;
   background-color:#e258d6;
   text-align: center;
   font-size: 30px;
   font-weight: 300;
   padding-top: 5px;
   margin-top: 20px;

 }

 .button:hover {
   background-color: #b016cf;
 }
   
 .button:active {
   background-color: #9006ac;
   color: white;
 }


 .hero-area {
   display: flex;
   height: 100%;
   justify-content: space-between;
   align-items: center;
 }

 .socials {
   padding-bottom: 200px;
 }

 .logo {
 height: 150px;
 margin: 30px;
 }

 i {
   color: white;
   
 }